:root {
	--input-width: 2;
    --input-height: 6;
	--gridHeight: 100vh;
    --gridWidth: 100vw;
}

.font1 {
    font-family: 'Caveat Brush', sans-serif;
}

.font2 {
    font-family: 'Berkshire Swash', sans-serif;
}

.font3 {
    font-family: 'Sansita', sans-serif;
}

.font4 {
    font-family: 'Aclonica', sans-serif;
}

.font5 {
    font-family: 'Norican', sans-serif;
}

.font6 {
    font-family: 'Rancho', sans-serif;
}

.font7 {
    font-family: 'Satisfy', sans-serif;
}

.font8 {
    font-family: 'Oleo Script', sans-serif;
}

.font9 {
    font-family: 'Lobster', sans-serif;
}

.font10 {
    font-family: 'Pacifico', sans-serif;
}

.font11 {
    font-family: 'Lobster Two', sans-serif;
}

.font12 {
    font-family: 'Sacramento', sans-serif;
}

body {
	background-color: #212121;
	margin: auto;
    font-size: 2vw;
}

#page {
	display: flex;
	flex-direction: column;
	height: 97vh;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#container {
	display: grid;
	grid-template-columns: repeat(var(--input-width), 1fr);
	grid-template-rows: repeat(var(--input-height), 1fr); 
	justify-content: center;
	height: var(--gridHeight);
	width: var(--gridWidth);
}

.cell {
	display: flex;
    flex-direction: column;
    border: 1px solid purple;
    justify-content: center;
    align-items: center;
}

.plain {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1vw;
}