:root {
	--input: 0;
	--gridSize: 800px;
}

.font1 {
    font-family: 'Caveat Brush', sans-serif;
}

.font2 {
    font-family: 'Berkshire Swash', sans-serif;
}

.font3 {
    font-family: 'Sansita', sans-serif;
}

.font4 {
    font-family: 'Aclonica', sans-serif;
}

.font5 {
    font-family: 'Norican', sans-serif;
}

.font6 {
    font-family: 'Rancho', sans-serif;
}

.font7 {
    font-family: 'Pattaya', sans-serif;
}

.font8 {
    font-family: 'Oleo Script Swash Caps', sans-serif;
}

.font9 {
    font-family: 'Lobster', sans-serif;
}

.font10 {
    font-family: 'Pacifico', sans-serif;
}

.font11 {
    font-family: 'Lobster Two', sans-serif;
}

.font12 {
    font-family: 'Sacramento', sans-serif;
}

body {
	background-color: #212121;
	margin: auto;
}

#page {
	display: flex;
	flex-direction: column;
	height: 97vh;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#container {
	display: grid;
	grid-template-columns: repeat(var(--input), 1fr);
	grid-template-rows: repeat(var(--input), 1fr);
	justify-content: center;
	height: var(--gridSize);
	width: var(--gridSize);
}

.box {
	border: 1px solid purple;
}